@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.header {
    height: 90px;
    width: 100%;
    background: rgb(184,189,241);
    background: radial-gradient(circle, rgba(184,189,241,1) 0%, rgba(135,146,239,1) 100%);
}

.main {
    background-color: rgb(243 244 246);
    min-height: calc(100vh - 90px);
}

.header-container {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
    height: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.map-container {
    width: 100%;
    height: 500px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a img {
    width: 180px;
}

.map-container.edit-mode {
    height: 435px;
}

.map-container:not(.edit-mode) {
    height: 600px;
    font-family: 'Roboto Condensed', sans-serif;
    white-space: normal;
    color: #1f2937;
}

.map-container #map {
    height: 100%;
}

.ya-popover {
    position: absolute;
    background-color: #fff;
}

.ya-popover .arrow {
    width: 0;
    height: 0;
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 14px 11px 0;
    position: absolute;
    bottom: -14px;
    left: 50%;
    margin-left: -11px;
    filter: drop-shadow(0 6px 3px rgba(0, 0, 0, .3));
    -webkit-filter: drop-shadow(0 6px 3px rgba(0, 0, 0, .3));
}

.ya-popover-inner {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

.ya-popover-header {
    height: 170px;
    display: flex;
    padding: 10px 10px;
}

.ya-popover-image {
    min-width: 250px;
    background-image: url('./storage/images/placeholder.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ya-popover img {
    width: 250px;
    height: 100%;
    object-fit: cover;
}

.ya-popover-info {
    margin-left: 10px;
}

.ya-popover-name {
    padding-left: 30px;
    font-size: 1.25rem;
    margin-bottom: 6px;
    font-weight: 600;
    color: #1f2937;
}

.ya-popover-address {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 14px;

    svg {
        min-width: 25px;
        margin-right: 5px;
    }
}

.ya-popover-content {
    padding: 5px 10px;
    font-size: 14px;
}

.ya-popover a.close {
    color: #fff;
    position: absolute;
    top: 0;
    right: 5px;
    text-decoration: none;
    font: 700 30px serif;
    z-index: 1;
    -webkit-transition: text-shadow .4s;
    transition: text-shadow .4s;
}
.ya-popover:hover a.close {
    text-shadow: 0 0 1px rgba(0, 0, 0, .8);
}

.ya-popover-description {
    margin-bottom: 15px;
    font-weight: 600;
}

.ya-popover-description span {
    color: #6b7280;
    font-weight: 600;
    font-size: 14px;
}

.ya-popover-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: #4277ec;
}
/*.ya-popover-links a {*/
/*    margin-left: auto;*/
/*}*/

/*.ya-popover-links a + a {*/
/*    margin-left: 0;*/
/*}*/

@media (max-width: 767px) {
    .map-container {
        height: 500px;
    }

    .ya-popover-inner {
        max-width: 300px !important;
        min-width: 300px !important;
        width: 300px !important;
    }

    .ya-popover-inner > ymaps {
        width: 300px !important;
        height: auto !important;
    }

    .ya-popover-header {
        display: block;
        width: 100%;
        padding: 0;
        height: auto;
    }

    .ya-popover img {
        width: 100%;
        object-fit: cover;
    }

    .ya-popover-info {
        margin-left: 0;
        padding: 5px 10px 0;
        margin-bottom: 5px;
    }

    .ya-popover-name {
        padding: 0;
    }

    .ya-popover-address {

        svg {
            min-width: 15px;
            margin-right: 3px;
        }
    }

    .ya-popover-links {
        display: block;
    }

    .ya-popover-links a {
        display: block;
    }

    .ya-popover-links a + a {
        display: block;
        margin-top: 5px;
    }
}

@media (max-width: 400px) {
    .map-container {
        height: 400px;
    }

    .ya-popover-header {
        min-height: 170px;
        font-family: 'Roboto Condensed', sans-serif;
        white-space: normal;
        color: #1f2937;
    }

    .ya-popover-image img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .ya-popover-name {
        font-size: 16px;
    }

    .ya-popover-description {
        font-family: 'Roboto Condensed', sans-serif;
        white-space: normal;
        color: #1f2937;
    }

    .ya-popover-links {
        font-family: 'Roboto Condensed', sans-serif;
        white-space: normal;
    }
}
